.container {
  height: auto;
  width: auto;
  border-top: #f4f4f4 1px solid;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }

  &__user {
    text-align: center;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__button {
  position: absolute;
    right: -2vw;
  }
}
