<div class="container-fluid main">
  <div class="main__box">

    <h1>Super Quiz</h1>
    <h2>Instructions and Rules</h2>
    <ul class="main__list">
      <li>1.Each player has 60s to answer</li>
      <li>2.You get 10 points for each correct answer and -10 points for ech incorrect answer.</li>
      <li>3.Remember to not use hints</li>
      <li>4.Enjoy and have fun</li>
      <li>Compare who is better</li>
    </ul>
    <button mat-button (click)="openDialog()">Add Player</button>
    <app-user-layout></app-user-layout>
  </div>


</div>

